@using ornekSite.Entity
@model Product

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>


        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">ANASAYFA</a> <span class="divider">/</span></li>
            <li><a href="/Home/Product">ÜRÜNLER</a> <span class="divider">/</span></li>
            <li class="active">Ürün Detay</li>
        </ul>
        <div class="well well-small">
            <div class="row-fluid">
                <div class="span5">
                    <div id="myCarousel" class="carousel slide cntr">

                        <div class="item">
                            <a href="#"> <img src="~/Content/image/@Model.image" alt="" style="width:100%"></a>
                        </div>



                    </div>
                </div>
                <div class="span7">
                    <h3>@Model.Name</h3>
                    <hr class="soft">
                    @using (Html.BeginForm("AddToCard", "Cart", new { @class = "form-horizontal qtyFrm" }))
                    {
                        @Html.HiddenFor(i => i.Id)
                        <div class="control-group">
                            <label class="control-label"><span>@Model.Price ₺</span></label>

                        </div>


                        <h4>@Model.Stock</h4>
                        <p>
                            @Model.Description
                        </p><p>
                            <button type="submit" class="shopBtn"><span class=" icon-shopping-cart"></span> Sepete Ekle</button>
                        </p>

                    }
                </div>
            </div>
            <hr class="softn clr">




        </div>
    </div>


    <div class="content-form">
        <br />
        <br />
        <h3>Bir Yorum Yapın</h3>
        <form style="width:fit-content">
            <input type="text" placeholder="Kullanıcı Adı" required />
            <input type="text" placeholder="Mail Adresi" required />
            <textarea style="max-block-size" placeholder="Yorumunuz"></textarea>
            <input type="submit" value="Gönder" />
        </form>
    </div>


</div>







