@using ornekSite.Entity
@model IEnumerable<Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>


        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <!--
        New Products
        -->

        <h3>ÜRÜNLER </h3>

        <ul class="thumbnails">
            @foreach (var item in Model)
            {
                <li class="span3">
                    <div class="thumbnail">

                        <a href="/Home/ProductDetails/@item.Id"><img src="~/Content/image/@item.image" style="max-width:207px;max-height:267px;min-width:207px;min-height:267px;" alt=""></a>
                        <div class="caption cntr">
                            <p>@item.Name</p>
                            <p><strong>@item.Price ₺</strong></p>
                            <h4><a class="shopBtn" href="/Home/ProductDetails/@item.Id" title="add to cart"> Görüntüle </a></h4>

                            <br class="clr">
                        </div>
                    </div>
                </li>
            }


        </ul>

    </div>
</div>

