@using ornekSite.Entity
@model ornekSite.Models.ShippingDetails
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                @Html.Action("_CategoryList", "Category")
                <li style="border:0"> &nbsp;</li>
                @Html.Action("Summary", "Cart")
            </ul>
        </div>


        @Html.Action("_FeaturedProductList", "Home")

    </div>
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="/Home/Index">Anasayfa</a> <span class="divider">/</span></li>
            <li class="active">Sipariş Formu</li>
        </ul>

        <hr class="soft" />
        <div class="well">
            @using (Html.BeginForm("CheckOut", "Cart", FormMethod.Post, new { @class = "form-horizontal" }))
            {

                <h3>Adres Bilgileri</h3>

                <div class="control-group">
                    <label class="control-label" for="inputFname">Kullanıcı Adı </label>
                    <div class="controls">
                        <div class="col-md-10">
                            <div class="btn btn-success">@User.Identity.Name</div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Adres</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Şehir</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Sehir, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Sehir, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">İlçe</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Semt, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Semt, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Mahalle</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Mahalle, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.Mahalle, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputFname">Posta Kodu</label>
                    <div class="controls">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.PostaKodu, new { htmlAttributes = new { @class = "form-control", @style = "max-width:35%" } })
                            @Html.ValidationMessageFor(model => model.PostaKodu, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>




                <hr class="soft" />
                <div class="well">
                    <h3>Ödeme Bilgileri</h3>
                    <h5>Lütfen Ödeme Şekillerinden Birini Seçiniz...</h5>
                    <div class="copyright">
                        <div class="container">
                            <p class="pull-left">
                                <a href="#"><img src="/site/assets/img/maestro.png" alt="payment"></a>
                                <input type="checkbox" name="secim1" spellcheck="false">&emsp;
                                <a href="#"><img src="/site/assets/img/mc.png" alt="payment"></a>
                                <input type="checkbox" name="secim1" spellcheck="false">&emsp;
                                <a href="#"><img src="/site/assets/img/pp.png" alt="payment"></a>
                                <input type="checkbox" name="secim1" spellcheck="false">&emsp;
                                <a href="#"><img src="/site/assets/img/visa.png" alt="payment"></a>
                                <input type="checkbox" name="secim1" spellcheck="false">&emsp;
                                <a href="#"><img src="/site/assets/img/disc.png" alt="payment"></a>
                                <input type="checkbox" name="secim1" spellcheck="false">&emsp;
                                <a>Kapıda Ödeme</a> <input type="checkbox" name="secim1" spellcheck="true">
                            </p>
                        </div>
                    </div>
                    <br />


                    <form style="width:fit-content">

                        <input type="text" placeholder="Kart Üzerindeki İsim" required />
                        <input type="tel" placeholder="Kart Numarası" required />
                        <input type="tel" placeholder="(CVC)" required style="max-width:10%" />
                        <p>
                            Son Kullanma Tarihi <br /><input type="month" class="monthselect" style="max-width:20%" required /> <br />
                            <a href="/Home/Sozlesme">Satış Sözleşmesini Onaylıyorum</a> <input type="checkbox" name="secim3" spellcheck="true" required>

                        </p>


                    </form>

                    <div class="well well-small">
                        <ul class="nav nav-list">
                            <li style="border:0"> &nbsp;</li>
                            @Html.Action("Summary", "Cart")
                        </ul>
                    </div>


                    <!--SİPARİSİ TAMAMLA-->
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" name="submitAccount" value="Siparişi Tamamla" class="exclusive shopBtn">
                        </div>
                    </div>
                </div>

            }
        </div>

    </div>
</div>

